@import 'tailwindcss';

@theme {
  --color-25-primary: #db0078;
  --color-25-white: #f1f1f1;
  --color-25-black: #170d19;
  --color-25-accent: #f0d11f;
  --color-25-purple: #bc00ef;
  --color-25-blue: #279ff5;

  --font-dk: 'DK Appelstroop', sans-serif;
  --font-bestoom: 'Bestoom', sans-serif;
  --font-neris: 'Neris', sans-serif;
}
