---
import Title from '@/features/arc2025/components/ui/Title.astro'
import MAPA from '@/features/arc2025/assets/MAPAFINAL.webp'
import { Image } from 'astro:assets'
---

<section id='mapa' class='border-b-25-white relative w-full border-b-14'>
  <section class='px-4 pb-20 md:pb-40'>
    <Title subTitle='Distribución de Escenarios'>Mapa ARC</Title>
    <Image
      src={MAPA}
      alt='Mapa de Distribución'
      width={MAPA.width}
      height={MAPA.height}
      class='mx-auto aspect-auto w-full md:max-w-[100rem]'
    />
  </section>
</section>
