---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Ups!">
  <main class="w-full h-full flex flex-col items-center justify-center">
    <h1 class="text-center text-4xl font-black">Ups! Fatal Error 404</h1>
    <p>Eliminando carpeta win32...</p>
  </main>
</Layout>
