---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import LogoARC from "@assets/Logo-ARC24.png";
import TextTape from "@components/TextTape.astro";
import { DAYS } from "@data/DAYS";
import { normalizePath } from "@utils/normalizePath";
---

<Layout title="Del 27 al 30 de Junio" headerAs="hero">
  <main class="h-full w-full flex items-center justify-evenly">
    <section
      class="flex flex-col justify-center items-center h-fit w-fit relative z-50 pb-20"
    >
      <header class="space-y-10 w-full">
        <Image
          src={LogoARC}
          width={500}
          height={180}
          class="mx-auto aspect-[500/180] drop-shadow-[0_20px_16px_rgb(0,0,0,0.5)]"
          alt="Logo del festival ARC 2024"
          transition:name="logo"
        />
        <TextTape size="2xl" class="mx-auto">
          {"{"} Del 27 al 30 de Junio {"}"}
        </TextTape>
      </header>
    </section>
    <section
      class="grid gap-y-20 items-center justify-items-center h-fit w-fit shrink-0 relative z-50"
    >
      {
        DAYS.map(({ day }) => {
          const path = normalizePath(day);
          return (
            <TextTape
              aria-label={`Programación ${day}`}
              element="a"
              href={path}
              class="whitespace-nowrap cursor-pointer"
              color="blue"
              size="2xl"
            >
              {day}
            </TextTape>
          );
        })
      }
    </section>
  </main>
</Layout>
