---
import Layout from "../layouts/Layout.astro";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import { Image } from "astro:assets";
import LogoARC from "@assets/Logo-ARC24.png";
import TextTape from "@components/TextTape.astro";
---

<Layout title="27, 28, 29 y 30 de Junio">
  <Header />
  <main class="h-full w-full flex justify-between relative overflow-hidden">
    <video
      src="/video_fondo_web.mp4"
      class="absolute scale-105 -z-10 w-full h-fit"
      muted
      autoplay></video>
    <section class="py-24 px-20 flex items-center h-full w-full">
      <header class="space-y-4 w-full">
        <Image
          src={LogoARC}
          width={500}
          height={180}
          class="mx-auto aspect-[500/180]"
          alt="Logo del festival ARC 2024"
        />
        <TextTape />
      </header>
    </section>
    <section class="flex text-secondary">
      <article class="bg-red-800 w-24 flex items-center">
        <h2
          class="[writing-mode:vertical-rl] mx-auto font-black uppercase text-4xl leading-none rotate-180"
        >
          Jueves 27
        </h2>
      </article>
      <article class="bg-green-800 w-24 flex items-center">
        <h2
          class="[writing-mode:vertical-rl] mx-auto font-black uppercase text-4xl leading-none rotate-180"
        >
          Viernes 28
        </h2>
      </article>
      <article class="bg-blue-800 w-24 flex items-center">
        <h2
          class="[writing-mode:vertical-rl] mx-auto font-black uppercase text-4xl leading-none rotate-180"
        >
          Sábado 29
        </h2>
      </article>
      <article class="bg-yellow-800 w-24 flex items-center">
        <h2
          class="[writing-mode:vertical-rl] mx-auto font-black uppercase text-4xl leading-none rotate-180"
        >
          Domingo 30
        </h2>
      </article>
    </section>
  </main>
  <Footer />
</Layout>
