---
import Layout from "../layouts/Layout.astro";
import LOGO from "../assets/Logo-ARC24.png";
import ULSLogo from "../assets/ULS-Blanco.png";
import SEREMILogo from "../assets/logo-seremi.png";
import { Image } from "astro:assets";
import FacebookIcon from "../components/icons/FacebookIcon.astro";
import YoutubeIcon from "../components/icons/YoutubeIcon.astro";
import XIcon from "../components/icons/XIcon.astro";
import InstagramIcon from "../components/icons/InstagramIcon.astro";
import Snowflakes from "../components/icons/Snowflakes.astro";
---

<Layout title="ARC 2024 | 27 al 30 de Junio">
  <Snowflakes />
  <header class="grid justify-center w-fit mx-auto pt-2 gap-4 md:gap-8 group">
    <h1 class="sr-only">ARC 2024, Próximamente</h1>
    <figure class="overfloh-hidden h-fit w-fit mx-auto">
      <Image
        src={LOGO}
        width={500}
        height={180}
        alt="Logo Festival ARC 2024"
        class="aspect-[500/180] h-fit"
        loading="eager"
      />
    </figure>
    <h2
      class="text-secondary font-black text-2xl text-center md:text-4xl uppercase tracking-wide bg-black w-fit py-1 md:py-2 px-4 md:px-16 mx-auto scale-y-150 -skew-y-[6deg] group-hover:skew-y-0 transition duration-300 cursor-default delay-150"
    >
      {"{"}&nbsp; 27 al 30 de Junio &nbsp;{"}"}
    </h2>
  </header>
  <main class="h-full w-full max-w-2xl mx-auto space-y-14 pb-72 sm:pb-32">
    <section class="flex flex-col gap-4">
      <h2
        class="font-climate [font-variation-settings:'YEAR'1980] tracking-widest text-center text-3xl text-secondary"
      >
        Tickets disponibles desde el <span class="text-accent-yellow"
          >Sábado 22</span
        > de Junio
      </h2>
      <h3 class="font-fira text-center text-xl text-secondary font-semibold">
        Atent@ a nuestras redes sociales
      </h3>
      <div class="flex gap-4 text-secondary w-fit h-fit mx-auto">
        <a
          aria-label="Visita nuestro Facebook"
          href="https://web.facebook.com/FestivalARC"
          target="_blank"
        >
          <FacebookIcon size={52} />
        </a>
        <a
          aria-label="Visita nuestro Instagrma"
          href="https://www.instagram.com/festival_arc"
          target="_blank"><InstagramIcon size={52} /></a
        >
        <a
          aria-label="Visita nuestro Twitter"
          href="https://x.com/festivalarc"
          target="_blank"><XIcon size={52} /></a
        >
        <a
          aria-label="Visita nuestro Youtube"
          href="https://www.youtube.com/@festivalarc5632"
          target="_blank"><YoutubeIcon size={52} /></a
        >
      </div>
    </section>
  </main>
  <footer
    class="grid xl:grid-flow-col justify-center items-center gap-8 xl:gap-20 bg-black absolute bottom-0 w-full left-0 p-4"
  >
    <div class="flex items-center gap-8 w-fit mx-auto">
      <Image
        height={100}
        src={SEREMILogo}
        alt="Logo de SEREMI Región de Coquimbo"
        class="h-20 w-fit aspect-[70/64] shrink-0"
        loading="eager"
      />
      <Image
        height={100}
        src={ULSLogo}
        alt="Logo de la Universidad de La Serena"
        class="h-20 w-fit aspect-[156/64] shrink-0"
        loading="eager"
      />
    </div>

    <p
      class="text-white xl:absolute xl:right-8 xl:bottom-4 text-sm w-fit mx-auto self-end"
    >
      <strong>ARC 2024</strong> | Desarrollado por <a
        href="https://strocs.dev"
        class="hover:text-[#fcea0d] transition duration-150">StrocsDev</a
      >
    </p>
  </footer>
</Layout>
