---
import Layout from "../layouts/Layout.astro";
import LOGO from "../assets/ARC25.png";
import LOGOS_FOOTER from "../assets/LOGOS_FOOTER.png";
import { Image } from "astro:assets";
import FacebookIcon from "../components/icons/FacebookIcon.astro";
import InstagramIcon from "../components/icons/InstagramIcon.astro";
import XIcon from "../components/icons/XIcon.astro";
import YoutubeIcon from "../components/icons/YoutubeIcon.astro";
---

<Layout title="Festival ARC 2025 | La Serena">
  <header class="grid justify-center w-fit mx-auto group px-4 pt-24">
    <h1 class="sr-only">Festival ARC 2025, Próximamente</h1>
  </header>

  <main class="flex h-full flex-col items-center justify-center">
    <figure class="mx-auto h-fit w-fit pb-4">
      <Image
        src={LOGO}
        width={500}
        height={180}
        alt="Logo Festival ARC 2025"
        class="aspect-[500/180] h-fit"
        loading="eager"
      />
    </figure>
    <div class="h-fit space-y-1 md:space-y-3">
      <p
        class="font-dk bg-[#279ff5] relative z-10 mx-auto w-fit -skew-y-3 rounded-xs px-4 text-center text-4xl text-white shadow-md md:text-7xl"
      >
        18 y 19 de Octubre
      </p>
      <p
        class="font-bestoom bg-[#f0d11f] text-[#db0078] mx-auto w-fit px-2 pt-1.5 text-center text-2xl shadow-md md:pt-2 md:text-5xl"
      >
        Parque Pedro de Valdivia
      </p>
      <p class="text-white font-bestoom mx-auto w-fit text-2xl md:text-4xl">
        La Serena
      </p>
    </div>

    <p
      class="text-dk text-white w-full max-w-prose text-3xl md:text-5xl text-center"
    >
      Pronto Programación Completa!
    </p>

    <p class="text-center text-secondary mt-14 leading-none">
      ¿Tienes alguna duda? escríbenos a <a
        target="_blank"
        href="mailto:programacion@festivalarc.com"
        class="text-[#efd43d] hover:text-secondary duration-150"
        >programacion@festivalarc.com</a
      >
    </p>
  </main>

  <footer
    class="grid xl:grid-flow-col justify-center items-center gap-8 xl:gap-20 bg-[#170d19] relative bottom-0 w-full left-0 p-4"
  >
    <div class="flex items-center gap-8 w-fit mx-auto">
      <Image
        height={100}
        src={LOGOS_FOOTER}
        alt="Logo de SEREMI Región de Coquimbo"
        class="h-14 w-fit shrink-0"
        loading="eager"
      />
    </div>
    <div class="flex gap-4 text-secondary w-fit h-fit mx-auto">
      <a
        aria-label="Visita nuestro Facebook"
        href="https://facebook.com/FestivalARC"
        target="_blank"
      >
        <FacebookIcon />
      </a>
      <a
        aria-label="Visita nuestro Instagrma"
        href="https://www.instagram.com/festival_arc"
        target="_blank"><InstagramIcon /></a
      >
      <a
        aria-label="Visita nuestro Twitter"
        href="https://x.com/festivalarc"
        target="_blank"><XIcon /></a
      >
      <a
        aria-label="Visita nuestro Youtube"
        href="https://www.youtube.com/channel/UC5dv2x9AcqEAgKcuRBMHlgg"
        target="_blank"><YoutubeIcon /></a
      >
    </div>
    <p
      class="text-secondary xl:absolute xl:right-8 xl:bottom-4 text-sm w-fit mx-auto self-end"
    >
      <strong>ARC 2025</strong> | Desarrollado por <a
        href="https://github.com/strocs"
        class="hover:text-[#fcea0d] transition duration-150">StrocsDev</a
      >
    </p>
  </footer>
</Layout>
