---
import Layout from "../layouts/Layout.astro";
import LOGO from "../assets/ARC25.png";
import LOGOS_FOOTER from "../assets/LOGOS_FOOTER.png";
import { Image } from "astro:assets";
import FacebookIcon from "../components/icons/FacebookIcon.astro";
import InstagramIcon from "../components/icons/InstagramIcon.astro";
import XIcon from "../components/icons/XIcon.astro";
import YoutubeIcon from "../components/icons/YoutubeIcon.astro";
---

<Layout title="Festival ARC 2025 | La Serena">
  <header
    class="grid justify-center w-fit mx-auto group px-4 pt-24"
  >
    <h1 class="sr-only">Festival ARC 2025, Próximamente</h1>
    <figure class="overfloh-hidden h-fit w-fit mx-auto pb-4">
      <Image
        src={LOGO}
        width={500}
        height={180}
        alt="Logo Festival ARC 2024"
        class="aspect-[500/180] h-fit"
        loading="eager"
      />
    </figure>
  </header>

  <main class="h-full w-full max-w-2xl mx-auto px-4 pb-16">
    <section class="grid gap-5">
      <div class="flex flex-col gap-2 max-w-xl mx-auto justify-center relative">
        <p
class="text-[#f70d61] font-bestoom text-2xl md:text-4xl text-center uppercase tracking-wide bg-[#efd43d] w-fit pb-0.5 pt-2 md:pt-3 px-6 mx-auto z-10 relative shadow-lg shadow-black/20"
        >
          Convocatoria cerrada
        </p>

        <p
class="bg-[#2495e9] font-dk text-2xl md:text-4xl leading-none text-center tracking-wide text-secondary w-fit py-2 md:py-3 px-6 mx-auto -skew-y-[4deg] shadow-lg shadow-black/20"
        >
          Pronto más información
        </p>
      </div>
      <p class="text-center text-secondary mt-14 leading-none">¿Tienes alguna duda? escríbenos a <a target="_blank" href='mailto:programacion@festivalarc.com' class="text-[#efd43d] hover:text-secondary duration-150">programacion@festivalarc.com</a></p>
      </section>
  </main> 

  <footer
    class="grid xl:grid-flow-col justify-center items-center gap-8 xl:gap-20 bg-[#170d19] relative bottom-0 w-full left-0 p-4"
  >
    <div class="flex items-center gap-8 w-fit mx-auto">
      <Image
        height={100}
        src={LOGOS_FOOTER}
        alt="Logo de SEREMI Región de Coquimbo"
        class="h-14 w-fit shrink-0"
        loading="eager"
      />
    </div>
    <div class="flex gap-4 text-secondary w-fit h-fit mx-auto">
      <a
        aria-label="Visita nuestro Facebook"
        href="https://facebook.com/FestivalARC"
        target="_blank"
      >
        <FacebookIcon />
      </a>
      <a
        aria-label="Visita nuestro Instagrma"
        href="https://www.instagram.com/festival_arc"
        target="_blank"><InstagramIcon /></a
      >
      <a
        aria-label="Visita nuestro Twitter"
        href="https://x.com/festivalarc"
        target="_blank"><XIcon /></a
      >
      <a
        aria-label="Visita nuestro Youtube"
        href="https://www.youtube.com/channel/UC5dv2x9AcqEAgKcuRBMHlgg"
        target="_blank"><YoutubeIcon /></a
      >
    </div>
    <p
      class="text-secondary xl:absolute xl:right-8 xl:bottom-4 text-sm w-fit mx-auto self-end"
    >
      <strong>ARC 2025</strong> | Desarrollado por <a
        href="https://github.com/strocs"
        class="hover:text-[#fcea0d] transition duration-150">StrocsDev</a
      >
    </p>
  </footer>
</Layout>
