---
import Layout from '../layouts/Layout.astro';
---
<Layout title="ARC 2025 | Postulaciones abiertas">
  <div style="position:fixed;top:0px;left:0px;right:0px;bottom:0px;">
    <div data-fillout-id="2gQbjYERD9us" data-fillout-embed-type="fullscreen" style="width:100%;height:100%;" data-fillout-inherit-parameters ></div>
  </div>
</Layout>

<script src="https://server.fillout.com/embed/v1/"></script>
