---
import Layout from "@layouts/Layout.astro";

Astro.redirect("/");
---

<Layout title="Prensa">
  <main class="w-full h-full flex flex-col items-center justify-center">
    <h1 class="text-center text-4xl font-black">
      Sección Prensa - En construcción
    </h1>
  </main>
</Layout>
