---
interface Props {
  class?: string;
}

const { class: customStyles } = Astro.props;
---

<div
  class:list={[
    customStyles,
    "items-center justify-around gap-4 grid grid-flow-col w-fit text-secondary",
  ]}
>
  <p class="text-lg font-bold leading-3">ARC 2024</p>
  |
  <p class="font-light leading-3">
    Desarrollado por <a
      class="underline hover:text-primary duration-150"
      target="_blank"
      href="https://strocs.dev">StrocsDev</a
    >
  </p>
</div>
