---
import { Image } from "astro:assets";
import Seremi from "@assets/logo-seremi.png";
import Uls from "@assets/ULS-Blanco.png";
import ByStrocs from "./ByStrocs.astro";
import SocialMediaLinks from "./SocialMediaLinks.astro";

interface Props {
  class?: string;
}

const { class: customStyle } = Astro.props;
---

<footer
  class:list={[
    "landscape:grid flex justify-center grid-cols-[1fr_auto_1fr] items-center w-full h-[--footer-height] space-x-2 md:px-14 bottom-0 left-0 right-0 z-40 bg-black absolute",
    customStyle,
  ]}
>
  <ByStrocs class="hidden landscape:grid" />
  <div class="flex w-fit shrink-0 items-center justify-center gap-x-4">
    <p class="text-sm md:text-base text-secondary">Organiza:</p>
    <Image
      loading="eager"
      height={80}
      class="h-16 w-fit md:h-14 aspect-[61/56]"
      src={Seremi}
      alt="Logo de la Seremi de la Región de Coquimbo"
    />
    <Image
      loading="eager"
      height={80}
      class="h-16 w-fit md:h-14 aspect-[137/56]"
      src={Uls}
      alt="Logo de la Universidad de La Serena"
    />
  </div>
  <SocialMediaLinks class="hidden landscape:flex" />
</footer>
