---
import { Image } from "astro:assets";
import Seremi from "@assets/logo-seremi.png";
import Uls from "@assets/ULS-Blanco.png";
interface Props {
  class?: string;
}

const { class: customStyle } = Astro.props;
---

<footer
  class:list={[
    "flex flex-col md:flex-row justify-between items-center w-full py-2 space-x-2 md:px-14 bottom-0 left-0 right-0 z-50 bg-texture bg-4xl sm:bg-xl bg-black absolute",
    customStyle,
  ]}
>
  <div class="flex h-fit justify-center space-x-4 md:items-center md:space-x-8">
    <div class="flex w-fit flex-shrink-0 items-center space-x-4">
      <p class="text-sm md:text-base text-secondary">Organiza:</p>
      <Image
        loading="eager"
        height={56}
        class="h-12 w-fit md:h-14 aspect-[61/56]"
        src={Seremi}
        alt="Logo de la Seremi de la Región de Coquimbo"
      />
      <Image
        loading="eager"
        height={56}
        class="h-12 w-fit md:h-14 aspect-[137/56]"
        src={Uls}
        alt="Logo de la Seremi de la Región de Coquimbo"
      />
    </div>
  </div>
  <div
    class="items-center justify-around gap-4 grid grid-flow-col text-secondary"
  >
    <p class="text-lg font-bold leading-3">ARC 2024</p>
    |
    <p class="font-light leading-3">
      Desarrollado por <a
        class="underline"
        target="_blank"
        href="https://strocs.dev">StrocsDev</a
      >
    </p>
  </div>
</footer>
