<h2
  class="text-secondary font-black text-3xl text-center md:text-5xl uppercase tracking-tighter bg-black w-fit pb-2 px-4 mx-auto scale-y-150 -skew-y-12 group-hover:skew-y-0 transition duration-300 cursor-default delay-150"
>
  27, 28, 29 y 30 de Junio
</h2>
