---
import type { ACTIVITY, DAY } from "@data/DAYS";
import ActivityCard from "./ActivityCard.astro";

interface Props {
  color: {
    [key: string]: string;
  };
  time: string[] | string;
  schedule: ACTIVITY[];
}

const { color, time, schedule } = Astro.props;
---

<section class="flex h-fit gap-10">
  <h3
    class:list={[
      "w-fit font-climate tracking-wider text-2xl [font-variation-settings:'YEAR'_2000]",
      color.text,
    ]}
  >
    {time}
  </h3>
  <ul class="flex flex-wrap gap-8">
    {schedule.map((activity) => <ActivityCard {...activity} color={color} />)}
  </ul>
</section>
