---
import type { Activity } from "@cTypes/types";
import ActivityCard from "./ActivityCard.astro";

interface Props {
  color: {
    [key: string]: string;
  };
  time: string[] | string;
  schedule: Activity[];
}

const { color, time, schedule } = Astro.props;
---

<div class="space-y-10">
  <hr class:list={["border-2 border-dashed", color.border]} />
  <section class="flex h-fit gap-2 md:gap-10">
    <h3
      class:list={[
        "font-fira tracking-wider leading-[1.5rem] text-2xl md:text-4xl font-black [writing-mode:vertical-lr] text-end -scale-100",
        color.text,
      ]}
    >
      {time}
    </h3>
    <ul class="flex flex-wrap gap-8 w-full">
      {schedule.map((activity) => <ActivityCard {...activity} color={color} />)}
    </ul>
  </section>
</div>
