---
import { SITE } from "@data/SITE";
import FacebookIcon from "./icons/FacebookIcon.astro";
import InstagramIcon from "./icons/InstagramIcon.astro";
import XIcon from "./icons/XIcon.astro";
import YoutubeIcon from "./icons/YoutubeIcon.astro";

interface Props {
  class?: string;
}

const { class: customStyles } = Astro.props;
---

<nav class:list={[customStyles, "flex gap-4 text-secondary justify-self-end"]}>
  <a
    target="_blank"
    aria-label="Visista nuestro Facebook"
    class="w-fit h-fit"
    href={SITE.URL.facebook}><FacebookIcon /></a
  >
  <a
    target="_blank"
    aria-label="Visista nuestro Instagram"
    class="w-fit h-fit"
    href={SITE.URL.instagram}><InstagramIcon /></a
  >
  <a
    target="_blank"
    aria-label="Visista nuestro X/Twitter"
    class="w-fit h-fit"
    href={SITE.URL.twitter}><XIcon /></a
  >
  <a
    target="_blank"
    aria-label="Visista nuestro Youtube"
    class="w-fit h-fit"
    href={SITE.URL.youtube}><YoutubeIcon /></a
  >
</nav>
