---
import { Image } from 'astro:assets'

import LOGOS_FOOTER from '@/features/arc2025/assets/LOGOS_FOOTER.png'

import FacebookIcon from '@/features/shared/components/icons/FacebookIcon.astro'
import InstagramIcon from '@/features/shared/components/icons/InstagramIcon.astro'
import XIcon from '@/features/shared/components/icons/XIcon.astro'
import YoutubeIcon from '@/features/shared/components/icons/YoutubeIcon.astro'
---

<footer
  class='bg-25-black relative bottom-0 left-0 grid w-full items-center justify-center gap-8 p-4 xl:grid-flow-col xl:gap-20'>
  <div class='mx-auto flex w-fit items-center gap-8'>
    <Image
      height={100}
      src={LOGOS_FOOTER}
      alt='Logo de SEREMI Región de Coquimbo'
      class='h-14 w-fit shrink-0'
      loading='lazy'
    />
  </div>
  <div class='text-25-white mx-auto flex h-fit w-fit gap-4'>
    <a
      aria-label='Visita nuestro Facebook'
      href='https://facebook.com/FestivalARC'
      target='_blank'>
      <FacebookIcon />
    </a>
    <a
      aria-label='Visita nuestro Instagrma'
      href='https://www.instagram.com/festival_arc'
      target='_blank'><InstagramIcon /></a
    >
    <a
      aria-label='Visita nuestro Twitter'
      href='https://x.com/festivalarc'
      target='_blank'><XIcon /></a
    >
    <a
      aria-label='Visita nuestro Youtube'
      href='https://www.youtube.com/channel/UC5dv2x9AcqEAgKcuRBMHlgg'
      target='_blank'><YoutubeIcon /></a
    >
  </div>
  <p
    class='text-25-white mx-auto w-fit self-end text-sm xl:absolute xl:right-8 xl:bottom-4'>
    <strong>ARC 2025</strong> | Desarrollado por <a
      href='https://github.com/strocs'
      class='hover:text-25-accent transition duration-150'>StrocsDev</a
    >
  </p>
</footer>
