---
interface Props {
  subTitle?: string
}

const { subTitle } = Astro.props
---

<h2 class='mx-auto my-16 w-fit md:space-y-3'>
  <span
    class='font-dk bg-25-purple text-25-white block w-fit -skew-4 rounded-xs px-6 text-center text-5xl shadow-xl md:text-8xl'>
    <slot />
  </span>
  {
    subTitle && (
      <span class='font-bestoom bg-25-white text-25-primary mx-auto block w-fit rounded-xs px-4 pt-2 text-2xl font-bold shadow-md md:text-5xl'>
        {subTitle}
      </span>
    )
  }
</h2>
