---
import { cn } from '@/features/shared/utils'

interface Props {
  subTitle?: string
  size?: 'md' | 'lg' | 'xl'
  class?: string
}

const { subTitle, size = 'xl', class: customClass } = Astro.props

const sizeClasses: Record<'md' | 'lg' | 'xl', string> = {
  md: 'text-[2.8rem] leading-[2.8rem] md:text-7xl md:leading-none',
  lg: 'text-6xl leading-tight md:text-7xl',
  xl: 'text-[3.4rem] leading-[3.4rem] md:text-8xl md:leading-none',
}
---

<h2 class='relative z-10 mx-auto w-fit pt-20 pb-4 md:space-y-2 md:py-12'>
  <span
    class={cn(
      'font-dk bg-25-accent text-25-primary mx-auto block w-fit -skew-y-3 rounded-sm px-6 text-center shadow-xl',
      sizeClasses[size],
      customClass,
    )}>
    <slot />
  </span>
  {
    subTitle && (
      <span class='font-neris bg-25-blue text-25-white mx-auto block w-fit rounded-xs px-4 pb-2 text-2xl font-semibold shadow-md md:text-4xl'>
        {subTitle}
      </span>
    )
  }
</h2>
