---
import Title from '@/features/arc2025/components/ui/Title.astro'
import StreamingVideo from '@/features/arc2025/components/streaming/StreamingVideo.astro'
---

<section class='px-4 xl:pt-0 xl:pb-20 landscape:pt-10'>
  <Title subTitle='Festival ARC 2025'>Streaming</Title>
  <StreamingVideo />
</section>
