---
import { Image } from 'astro:assets'

import Arc2025Layout from '@/features/arc2025/Layout.astro'
import Header from '../../components/ui/Header.astro'
import Map from './sections/Map.astro'
import Hero from './sections/Hero.astro'

import FONDO_WEB from '@/features/arc2025/assets/fondo_arc.webp'
---

<Arc2025Layout>
  <Header withLogo={false} />
  <main class='mx-auto h-full w-full'>
    <Image
      aria-hidden='true'
      alt='Fondo del Festival ARC 2025 - Festival de las Artes Región de Coquimbo'
      src={FONDO_WEB}
      quality={90}
      height={FONDO_WEB.height}
      width={FONDO_WEB.width}
      class='fixed top-0 -z-20 h-screen w-full overflow-hidden object-cover object-left xl:object-center'
      loading='eager'
    />
    <Hero />
    <Map />
  </main>
</Arc2025Layout>
