---
import Title from '@/features/arc2025/components/ui/Title.astro'
import { YouTube } from '@astro-community/astro-embed-youtube'
---

<section class=''>
  <Title> Streaming Festival Arc 2025 </Title>
  <YouTube
    id='E86so34AMzM'
    class='mx-auto max-w-screen rounded-md'
    posterQuality='max'
  />
</section>

<style>
  lite-youtube {
    max-width: 80%;
  }
</style>
