<header
  class='absolute top-0 left-0 z-50 flex min-h-20 w-full items-center justify-center'>
  <nav
    class='absolute top-0 left-0 flex min-h-20 w-full items-center justify-center'>
    <ul class='font-neris flex gap-4 text-lg'>
      <li
        class='-skew-y-3 font-medium transition-transform duration-150 hover:-skew-0'>
        <button class='bg-25-black text-25-white cursor-pointer px-3 pt-1 pb-2'>
          Inicio
        </button>
      </li>
      <li
        class='-skew-y-3 font-medium transition-transform duration-150 hover:-skew-0'>
        <a
          href='#programacion'
          class='bg-25-black text-25-white cursor-pointer px-3 pt-1 pb-2'>
          Programación
        </a>
      </li>
      <li
        class='-skew-y-3 font-medium transition-transform duration-150 hover:-skew-0'>
        <a
          href='#mapa'
          class='bg-25-black text-25-white cursor-pointer px-3 pt-1 pb-2'>
          Mapa
        </a>
      </li>
    </ul>
  </nav>
</header>
