---
import Schedule2025 from "./components/Schedule2025.astro";
import Layout from "./layouts/Layout.astro";

---

<Layout title="Programación | Festival ARC 2025">
  <main class="min-h-screen w-full mx-auto px-4 py-16">
    <header class="mb-12 text-center">
      <h1 class="text-4xl md:text-5xl font-bestoom text-[#efd43d] mb-4">
        Programación
      </h1>
      <p class="text-secondary text-lg">
        Festival ARC 2025 - La Serena
      </p>
    </header>

  <Schedule2025 />
  </main>
</Layout>
