---
import Arc2025Layout from './layouts/Arc2025Layout.astro'
import Arc2025Schedule from './components/schedule/Arc2025Schedule.astro'
import Footer from './components/footer/Footer.astro'
import Header from './components/header/Header.astro'
import Arc2025Streaming from './components/streaming/Arc2025Streaming.astro'
---

<Arc2025Layout>
  <Header />
  <main class='mx-auto h-full w-full pb-16'>
    <section class='grid gap-5'>
      <div class='relative mx-auto flex max-w-xl flex-col justify-center gap-2'>
        <p
          class='font-bestoom bg-25-accent text-25-primary relative z-10 mx-auto w-fit px-6 pt-2 pb-0.5 text-center text-2xl tracking-wide uppercase shadow-lg shadow-black/20 md:pt-3 md:text-4xl'>
          Convocatoria cerrada
        </p>

        <p
          class='font-dk text-25-white bg-25-blue mx-auto w-fit -skew-y-[4deg] px-6 py-2 text-center text-2xl leading-none tracking-wide shadow-lg shadow-black/20 md:py-3 md:text-4xl'>
          Pronto más información
        </p>
      </div>
    </section>
    <Arc2025Streaming />

    <Arc2025Schedule />

    <section>
      <p class='text-25-white mt-14 text-center leading-none'>
        ¿Tienes alguna duda? escríbenos a <a
          target='_blank'
          href='mailto:programacion@festivalarc.com'
          class='hover:text-25-white text-25-accent duration-150'
          >programacion@festivalarc.com</a
        >
      </p>
    </section>
  </main>
  <Footer />
</Arc2025Layout>
