---
import Arc2025Layout from "./layouts/Arc2025Layout.astro";
import Arc2025Schedule from "./sections/schedule/components/Arc2025Schedule.astro";
---

<Arc2025Layout>
  <main class="min-h-screen w-full mx-auto px-4 py-16">
    <header class="mb-12 text-center">
      <h1 class="text-4xl md:text-5xl font-bestoom text-[#efd43d] mb-4">
        Programación
      </h1>
      <p class="text-secondary text-lg">
        Festival ARC 2025 - La Serena
      </p>
    </header>

  <Arc2025Schedule />
  </main>
</Arc2025Layout>
